<% provide(:page_name, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Locamotor</h1>

  <h2>Check out our posts!</h2>

  <%= link_to "Post a Rental", '/posts/new', class: "btn btn-lg btn-primary" %>
  <%= link_to "Search Posts", '/search', class: "btn btn-lg btn-primary" %>
  <%= link_to "Request Route", '/route_requests/new', class: "btn btn-lg btn-primary" %>
  <%= link_to "View Requests", '/route_requests/index', class: "btn btn-lg btn-primary" %>
</div>

<% Post.last(10).reverse_each do |post| %>
  <% cache post do %>
	<%= render partial: "shared/post_display", locals: {post: post} %>
	<% if post.auto_book == "auto_book" %>
	  <%= link_to "Book Now", '/posts/' + post.id.to_s, class: "btn btn-xs btn-primary" %>
	  <br>
	<% else %>
	  <%= link_to "Request Reservation", '/posts/' + post.id.to_s, class: "btn btn-xs btn-primary" %>
	  <br>
	<% end %>
  <% end %>
  <br><br>
<% end %>
