<h1>Search Posts</h1>
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
<%= form_tag("/search/results", method: "get", :url => {:action => "results"}) do %>
  <%= label_tag("Vehicle Type:") %>
  <%= check_box_tag 'vehicle_type[]', 'Car' %>
  <%= label_tag(:vehicle_car, "Car") %>
  <%= check_box_tag 'vehicle_type[]', 'Truck' %>
  <%= label_tag(:vehicle_truck, "Truck") %>
  <%= check_box_tag 'vehicle_type[]', 'Bike' %>
  <%= label_tag(:vehicle_bike, "Bike") %>
  <%= check_box_tag 'vehicle_type[]', 'Boat' %>
  <%= label_tag(:vehicle_boat, "Boat") %>
  <%= check_box_tag 'vehicle_type[]', 'Other' %>
  <%= label_tag(:vehicle_other, "Other") %>

  <br>

  <label for="post_start_time">Select Rental Start Time (UTC) </label> <%= check_box_tag 'search_start', true %>
  <input class="form-control" name="start_time" type="datetime-local" value="2016-01-01T12:00:00" id="post_start_time">

  <br>

  <label for="post_end_time">Select Rental End Time (UTC) </label> <%= check_box_tag 'search_end', true %>
  <input class="form-control"  name="end_time" type="datetime-local" value="2016-01-01T12:00:00" id="post_end_time">

  <br>

  <label for="post_amount">Max Price (in dollars)</label> <%= check_box_tag 'search_price', true %>
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <input type="text" name="max_price" class="form-control" id="post_amount" placeholder="Amount">
  </div>

  <br>

  <div class="form-group">
    <label for="location">Amongst Cities</label> <%= check_box_tag 'search_location_across', true, false, class: :location_check %>
    <input type="text" name="city_a" class="form-control" id="city_location" placeholder="City">
    <input type="text" name="state_a" class="form-control" id="state_location" placeholder="State">
    <input type="text" name="max_distance_a" class="form-control" id="location" placeholder="Max distance away from this city (miles)">
  </div>

  <div class="form-group">
    <label for="location">Within City</label> <%= check_box_tag 'search_location_within', true, false, class: :location_check %>
    <input type="text" name="street" class="form-control" id="street_location" placeholder="Street Address">
    <input type="text" name="city" class="form-control" id="city_location" placeholder="City">
    <input type="text" name="state" class="form-control" id="state_location" placeholder="State">
    <input type="text" name="max_distance" class="form-control" id="location" placeholder="Max distance away from location (miles)">
  </div>

  <br>

  <%= submit_tag("Search", class: "btn btn-md btn-primary") %>
<% end %>

<%= form_tag("/search/all", method: "get", :url => {:action => "all_posts"}) do %>
  <br>
  <%= submit_tag("View All Posts", class: "btn btn-md btn-primary") %>
<% end %>


