<% if message.content %>
  <% current_id = current_user.id %>

  <div>
    <% if message.user_id == current_id %>
      <span class="label label-success label-name"><%= message.user_email %></span> <span class="label-time"> <%= message.message_time %> </span>
    <% else %>
      <span class="label label-danger label-name"><%= message.user_email %></span> <span class="label-time"> <%= message.message_time %> </span>
    <% end %>
  </div>

  <div class="message-display">
    <%= message.content %>
  </div>
  <br>

<% end %>