<% post %>
<% if post.post_type == "FR" %>
  <h3><span class="label label-info">For Rent:</span></h3>
<% else %>
  <h3><span class="label label-info">Looking For:</span></h3>
<% end %>
<% poster = User.find(post.creator_id) %>
<label>Contact:</label> <%= link_to "#{poster.email}", "/users/#{post.creator_id}" %> <br>
<label>Type:</label> <%= post.vehicle %> <br>
<label>Start Time:</label> <%= post.start_time %> <br>
<label>End Time:</label> <%= post.end_time %> <br>
<label>Price:</label> $<%= "%.2f" % post.price unless post.price.nil? %> <br>
<label>Contact:</label> <%= post.email %> <br>
<% if post.description != '' %>
  <label>Additional Details:</label> <%= post.description %> <br> 
<% end %>
<% if post.start_location %>
  <label>Starting Location:</label> <button id=<%= "map#{post.id}" %> class="map-link"> <%= post.start_location.address %> </button> <br>
  <% lat_long = "#{post.start_location.latitude},#{post.start_location.longitude}&zoom=13" %>
  <% map_link = "https://www.google.com/maps/embed/v1/place?key=AIzaSyACRTQrluJMiM7ILeSMxjaqxsJ45LeJscE&q=" + lat_long %>
  <iframe width="300" height="300" frameborder="0" style="border:0" class="something" id=<%= "map#{post.id}map" %>
    src=<%= map_link %>
    allowfullscreen>
  </iframe>
  <br>
<% end %>
<h3>Current Reservations for this Vehicle:</h3>
<% Reservation.where(post_id: post.id, confirmed: true).find_each do |reservation| %>
<label>Reservation Start Time:</label> <%= reservation.start_time %> <br>
<label>Reservation End Time:</label> <%= reservation.end_time %> <br>
<% end %>
<% if post.auto_book == "auto_book" %>
    <%= link_to "Book Now", '/posts/' + post.id.to_s, class: "btn btn-xs btn-primary" %> <br>
<% else %>
  <%= link_to "Request Reservation", '/posts/' + post.id.to_s, class: "btn btn-xs btn-primary" %> <br>
<% end %>


