<% if @post.auto_book == "auto_book" %>
  <h1>Book Now</h1>
<% else %>
  <h1>Make Reservation</h1>
<% end %>
<label>Type:</label> <%= @post.vehicle %> <br>
  <label>Start Time:</label> <%= @post.start_time %> <br>
  <label>End Time:</label> <%= @post.end_time %> <br>
  <label>Price:</label> $<%= "%.2f" % @post.price %> <br>
  <label>Contact:</label> <%= @post.email %> <br>
  <% if @post.description != '' %>
    <label>Additional Details:</label> <%= @post.description %> <br> 
  <% end %>

  <label> Photos </label>

  <div id="photos">
   <%= render 'photos/list' %>
  </div>
  <div>
    <%= @post.email %> <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @post.creator.id), method: 'post', class: "btn btn-primary" %>
  </div>
  
<h2>Reservation Info</h2>
<%= form_for(@post, :url => {:action => "claim", :id => @post.id, :confirmed => @post.auto_book}) do |f| %>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input name="name" type="hidden" value="<%= current_user.email %>"/>

  <div class="form-group">
    <label for="reservation_start_time">Select Reservation Start Time (UTC) </label>
    <input class="form-control" name="reservation[start_time]" type="datetime-local" value="2016-01-01T12:00:00" id="reservation_start_time">

    <br>

    <label for="reservation_end_time">Select Reservation End Time (UTC) </label>
    <input class="form-control"  name="reservation[end_time]" type="datetime-local" value="2016-01-01T12:00:00" id="reservation_end_time">
  </div>

 <% if @post.auto_book == "auto_book" %>
    <%= f.submit "Book Now", class: "btn btn-md btn-primary" %>
  <% else %>
    <%= f.submit "Submit Reservation", class: "btn btn-md btn-primary" %>
  <% end %>
<% end %>