<!DOCTYPE html>
<html>
  <head>
    <title>Locomotor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Doing Some <%= yield(:page_name) %> Stuffs</h1>
    <p>
      <a href="/main/home">Home</a>
      <br>
      <a href="/main/about">About</a>
      <br>
      <a href="/main/help">Help</a>
    </p>

    <%= yield %>
  </body>
</html>
